<nav>
  <a id="logo" href="/">St. John's University Class Search</a>
  <div class='search'>
    <a href="/courses?code=cus">Computer Science</a>
    <a href="/courses?code=it">Information Technology</a>
    <a href="/courses?code=mth">Mathematics</a>
    <a href="/courses?code=net">Networking</a>
    <a href="/courses?code=hci">Healthcare Informatics</a>
    <a href="/courses?code=css">Computer Security Systems</a>
  </div>
</nav>
