<table id='start' style="width:100%">
  <tr>
    <thead>
      <td>Code</td>
      <td>Title</td>
      <td>Instructor</td>
      <td>Day</td>
      <td>Availability</td>
      <td>Type</td>
    </thead>
  </tr>
</table>
